@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../ResourceManage/Camera/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../ResourceManage/Camera/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">Code</td>
            <td class="formValue" colspan='3'>
                <input id="Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Area</td>
            <td class="formValue" colspan='3'>
                <div id="Area" type="select" class="ui-select" ></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">Name</td>
            <td class="formValue">
                <input id="Name" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Address</td>
            <td class="formValue">
                <input id="Address" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Latitude</td>
            <td class="formValue">
                <input id="Latitude" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Longitude</td>
            <td class="formValue">
                <input id="Longitude" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Url</td>
            <td class="formValue" colspan='3'>
                <input id="Url" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Remark</td>
            <td class="formValue" colspan='3'>
                <textarea id="Remark" class="form-control" ></textarea>
            </td>
        </tr>
       
    </table>
</div>
