@model LeaRun.EmergencyDuty.Model.DutyDetailsViewModel

@{ 
    var groupDetails = Model.Details.Where(o=>o.DutyDay.HasValue)
        .GroupBy(o => o.DutyDay)
        .ToDictionary(o=>o.Key.Value.ToString(Definition.DATE_FORMAT_HYPHEN), v=>v.ToList());
    var firstDayNextMonth = Model.DutyMonth.AddMonths(1);
    var dictDutyTypes = Helper.MapToDutyTypes(Model.DutyClass);
}

<table class="form" border="1" style="border:2px solid #999;">
    <tr>
        <th>日期</th>
        @foreach (var dutytype in dictDutyTypes)
        {
            <th>@dutytype.Value</th>
        }
        @*@switch (Model.DutyClass)
        {
            case LeaRun.Definitions.Enums.DutyClassEnum.Month:
                <td>值班领导</td>
                <td>值班人员（白班）</td>
                <td>值班人员（夜班）</td>
                break;
            case LeaRun.Definitions.Enums.DutyClassEnum.Noon:
                <td>值班人员</td>
                break;
            case LeaRun.Definitions.Enums.DutyClassEnum.Flexible:
                <td>机动值班人员</td>
                break;
            case LeaRun.Definitions.Enums.DutyClassEnum.Driver:
                <td>值班人员（日班）</td>
                <td>值班人员（日备）</td>
                <td>值班人员（夜班）</td>
                break;
            case LeaRun.Definitions.Enums.DutyClassEnum.HolidayLeader:
                <td>值班领导</td>
                break;
            default:
                break;
        }*@
    </tr>
    @for (var day = Model.DutyMonth; day < firstDayNextMonth; day = day.AddDays(1))
    {
        var dayDesc = day.ToString(Definition.DATE_FORMAT_HYPHEN);
        var isSetUsers = groupDetails.ContainsKey(dayDesc);
        <tr>
            <td align="center">@(dayDesc + " (" + LeaRun.Definitions.EnumHelper.WeekendConverter(day.DayOfWeek) + ")")</td>
            @if (isSetUsers)
            {
                var lstDetails = groupDetails[dayDesc];

                foreach (var dutytype in dictDutyTypes)
                {
                    var setUser = lstDetails.FirstOrDefault(o => o.DutyType == (int)dutytype.Key);
                    <td>@(setUser==null?"" : setUser.DutyUsers)</td>
                }
            }
            else
            {
                foreach (var dutytype in dictDutyTypes)
                {
                    <td></td>
                }
            }
        </tr>
    }
    
</table>