@model LeaRun.EmergencyDuty.Entity.DutiesEntity
@{;

    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
    var isAdd = Model.Id.IsEmpty();
    var iniMonth = (isAdd ? DateTime.Now.AddMonths(1) : Model.StartedOn.Value).ToString(Definition.MONTH_FORMAT_CN);
}
@section Styles{
    <link href="~/Content/styles/emergeny-duty.css" rel="stylesheet" />
}
<script>
    var keyValue = request('keyValue');
    var dutyClass = request('dutyClass');
    $(function () {
        InitialPage();
        InitControl();
        @*loadDutyDetailView('@iniMonth');*@
    });
    //初始化页面
    function InitialPage() {
        $(".bills").height($(window).height() - 88);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $(".bills").height($(window).height() - 88);
            }, 200);
            e.stopPropagation();
        });
    }

    function InitControl() {

    }

    function onMonthChange(dp) {
        var month = dp.cal.getNewDateStr();
        if (dp.cal.oldValue == month) return;
        loadDutyDetailView(month)
    }

    function loadDutyDetailView(month) {
        $.ajax({
            url: "/EmergencyDuty/Duties/DutyDetailWriteView?keyValue=" + keyValue,
            data: { dutyclass: dutyClass, month: month },
            type: "get",
            dataType: "html",
            success: function (data) {
                $("#dutyDetailsContainer").html(data);
            },
        });
    }

    //保存表单
    function AcceptClick(save_Mode) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var dutyDetailsJson = [];
        $("#dutyDetailsWrap").find('[role=row]').each(function (i) {
            if (!!$(this).find('input[name="ProductId"]').val()) {
                dutyDetailsJson.push({
                    OrderEntryId: $(this).find('input[name="OrderEntryId"]').val(),
                    ProductName: $(this).find('input[name="ProductName"]').val(),
                    ProductCode: $(this).find('input[name="ProductCode"]').val(),
                    ProductId: $(this).find('input[name="ProductId"]').val(),
                    UnitId: $(this).find('input[name="UnitId"]').val(),
                    Qty: $(this).find('input[name="Qty"]').val(),
                    Price: $(this).find('input[name="Price"]').val(),
                    Amount: $(this).find('input[name="Amount"]').val(),
                    TaxRate: $(this).find('input[name="TaxRate"]').val(),
                    Taxprice: $(this).find('input[name="Taxprice"]').val(),
                    Tax: $(this).find('input[name="Tax"]').val(),
                    TaxAmount: $(this).find('input[name="TaxAmount"]').val(),
                    Description: $(this).find('input[name="Description"]').val(),
                    SortCode: i
                });
            }
        });
        var postData = $("#form1").GetWebControls(keyValue);
        //postData["StartOn"] = $("#StartOn").val();
        //postData["Contracts"] = $("#Contracts").val();
        //postData["ContractsTelNo"] = $("#ContractsTelNo").val();
        postData["DutyDetails"] = JSON.stringify(dutyDetailsJson);
        $.ConfirmAjax({
            msg: "注：您确认要保存此操作吗？",
            url: "../../EmergencyDuty/Duties/SaveForm?keyValue=" + keyValue,
            param: postData,
            success: function (data) {
                if (save_Mode == 1) {
                    reload();
                } else {
                    top.$.removeTab('closeCurrent');
                }
            }
        });
    }
</script>
<div class="ui-report">
    <div class="titlePanel">
        <div class="title-search">
            <table class="form" id="form1" style="width: 100%; margin-bottom: 10px;">
                <tr>
                    <th class="formTitle">值班月份 <font face="宋体">*</font></th>
                    <td class="formValue" style="padding-left: 10px;">
                        <input id="StartOn" readonly type="text" value="@iniMonth" class="form-control input-wdatepicker" 
                               onclick="WdatePicker({onpicked:function(dp){onMonthChange(dp);}, isShowClear:false, dateFmt:'@Definition.MONTH_FORMAT_CN'})">
                    </td>
                    <td class="formTitle">联系人 <font face="宋体">*</font></td>
                    <td class="formValue" style="padding-left: 10px;">
                        <input id="Contracts" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"/>
                    </td>
                    <td class="formTitle">联系电话 <font face="宋体">*</font></td>
                    <td class="formValue" style="padding-left: 10px;">
                        <input id="ContractsTelNo" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel" id="gridPanel">
        <div class="printArea" id="dutyDetailsContainer">
            @Html.Action("DutyDetailWriteView", new { dutyClass = Model.DutyClass, keyValue = Model.Id, month = iniMonth })
        </div>
    </div>
</div>

<div id="bottomField">
    <a id="savaAndAdd" class="btn btn-success" onclick="AcceptClick(1)">保存并新增</a>
    <a id="save" class="btn btn-default" onclick="AcceptClick(2)">保存单据</a>
    <a id="save" class="btn btn-default" onclick="reload();">刷新</a>
</div>
