<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>  
  <add name="PlatformDb" connectionString="Server=.;Initial Catalog=EmergencyPlatform;User ID=sa;Password=SQL2016P@ssword;" providerName="System.Data.SqlClient" />
  <add name="ApplicateDb" connectionString="Server=.;Initial Catalog=Emergency;User ID=sa;Password=SQL2016P@ssword;" providerName="System.Data.SqlClient" />
  <add name="CRMDb" connectionString="Server=.;Initial Catalog=EmergencyPlatform;User ID=sa;Password=SQL2016P@ssword;" providerName="System.Data.SqlClient" />
  <add name="OADb" connectionString="Server=.;Initial Catalog=EmergencyPlatform;User ID=sa;Password=SQL2016P@ssword;" providerName="System.Data.SqlClient" />
  <add name="CostAnalysisDb" connectionString="Server=.;Initial Catalog=CostAnalysis;User ID=sa;Password=zggcdws4$;" providerName="System.Data.SqlClient" />

  <add name="CuttingToolContext" connectionString="server=168.168.2.174;user id=wheat;password=wheat123;database=wheat_vm_sup;charset=gbk;" providerName="MySql.Data.MySqlClient" />
  <add name="SDSBaseData"   connectionString="Data Source=168.168.2.177;Initial Catalog=SDSBaseData;Integrated Security=False;User id=sa;Password=123123; " providerName="System.Data.SqlClient"/>
   
  <add name="BaseDb" connectionString="Server=.;Initial Catalog=EmergencyPlatform;User ID=sa;Password=SQL2016P@ssword;" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Data Source=192.168.0.103;port=3306;Initial Catalog=LeaRunFramework_Base_2016;user id=learun;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <!--<add name="BaseDb" connectionString="User Id=kooboocmsv3;Password=kooboocmsv3;PERSIST SECURITY INFO=True;Data Source=kooboocmsv3"  providerName="Oracle.ManagedDataAccess.Client"/>-->
  <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=Data Source= (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = *****)(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = ORCL)
    )
  )" />-->
</connectionStrings>

<!--关于Oracle的数据连接：或者在Web.config 中定义DataSource-->
<!--<oracle.manageddataaccess.client>
  <version number="*">
    <dataSources>
      --><!-- Customize these connection alias settings to connect to Oracle DB --><!--
      <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
    </dataSources>
  </version>
</oracle.manageddataaccess.client>-->
<!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=SampleDataSource" />-->