<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="true" /> 
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="true" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="true" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="1800" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.xmnet.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="上海纳铁福传动系统有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="SDS 企业应用平台" />
  <!-- 软件名称 -->
  <add key="SoftName" value="赞心企业应用架构平台" />
  <!-- 技术支持软件公司 -->
  <add key="SoftCompanyName" value="上海赞心数码科技有限公司" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="646139336@qq.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 6：短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="SMSAccount" value="jumuxx_lr" />
  <!-- 短信密码 -->
  <add key="SMSPswd" value="Lrxx158753" />
  <!-- 短信接口地址 -->
  <add key="SMSUrl" value="http://localhost:80/msg/HttpBatchSendSM" />
  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://localhost:8081/signalr" />


  <!-- ================== 8：库存管理模块参数 ================== -->
  <add key="SMTP_SERVER_PORT" value="25"/>
  <add key="SMTP_SERVER" value="smtp.gitwms.com"/>
  <add key="MAIL_USERNAME" value="do_not_reply@gitwms.com"/>
  <add key="MAIL_PASSWORD" value="doq1w2e3r4" />

  <add key="ENCRYPT_KEY" value="qingyuan" /> 

  <!--系统管理员角色-->
  <add key="Super_AdminRole" value="DR_0000" /> 

  <!--成品默认仓库-->
  <add key="STORE_DEFAULT_PRODUCT" value="DSP_0000" /> 
  <!--原料默认仓库-->
  <add key="STORE_DEFAULT_" value="DSM_0000" /> 

  <!--入库单打印模板编号-->
  <add key="InOrder_Template" value="InOrderPrint" /> 
  <!--出库单打印模板编号-->
  <add key="OutOrder_Template" value="OutOrderPrint" /> 

  <!--Sign-->
  <add key="Sign" value="HWTNtSuSIoyjhyIfqMo9vmfOFxS0b6nhwHObhfQ271yTmgW5Ck8+de9TkG2DQbms/TaSJ6cBqgTLIxxFvpxcE22ncRzI3KRxUvkcHGGwqO1/OHMK1efRAbOAaJ1sIvbJkQTzGYskBI/2HjIlQ2dftauXelQGZI7sNQcOt1CVMssuw/csceHSTz/uZVonogZS" /> 
  <!--loginsign-->
  <add key="loginsign" value="HWTNtSuSIoyCtYYexHgBeu5uCn3RypUSICN/A92RwoQZIW1qaZ7IZ0LZi/Iybt1HMz95DOzigl07Dcd7N3biKB1638TwbAIII0zXk9z3ITtT0sC9rWK5WA==" /> 

</appSettings>