@{
    ViewBag.Title = "地图位置查找";
    //Layout = "~/Views/Shared/_MapIndex.cshtml";
    Layout = "~/Views/Shared/_MapForm.cshtml";
}
@section Scripts{

}

@section Styles{
    <link href="~/Content/styles/learun-applayout.css" rel="stylesheet" />
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }

        .map-content {
        }

        .row {
            margin: 5px;
        }

        .h-col {
            padding: 0px;
            margin: 0px;
        }

        .h-col-6 {
            width: 60%;
        }

        .h-col-4 {
            width: 40%;
        }

        .formTitle {
            width: 60px;
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
        }

        .app_preview .item_field_value {
            width: 514px;
        }

        .app_preview .item_row {
            background-color: #fff;
        }

        .app_layout .item_field_label {
            background-color: #fff;
        }

        .form-panel {
            width: 650px;
            float: left;
            overflow-y: auto;
        }

        .map-content {
            float: right;
            width: 350px;
            /*height: 659px;*/
            z-index: 1000;
            background: rgba(0,0,0,0.01);
            padding: 0px;
            border-left: 1px solid #ccc;
        }

        .form .formTitle {
            text-align: left;
            padding-left: 5px;
        }

        form .formTitle font {
            right: auto !important;
            margin-left: 5px;
        }

        .formValue input, .formValue textarea {
            border-radius: 5px;
        }

        input, textarea {
            background: #fff !important;
        }
    </style>
}

<div class="titlePanel" style="border-bottom:1px solid #ccc;">
    <div class="title-search">
        <table>
            <tr>
                <td style="padding-left: 2px;">
                    <i class="fa fa-map-marker" style="font-size:28px; vertical-align:middle; color:#1d9d74; margin-right:5px;"></i>
                    <input id="txtSuggest" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 350px; display:inline-block;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                </td>
                <td style="padding-left: 5px;">
                    <span>经度 </span><input id="lng" type="text" class="form-control" placeholder="经度" style="width: 100px; display:inline-block;" />
                    <span>纬度 </span><input id="lat" type="text" class="form-control" placeholder="纬度" style="width: 100px; display:inline-block;" />
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
        </div>
    </div>
</div>

<div class="h-col form-panel form">
    <div class="tab-pane app_layout app_preview active">
        <div class="item_row">
            <div class="item_field_label"><span>名称</span></div>
            <div class="item_field_value" style="">
                <input id="Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </div>
        </div>
        <div class="item_row">
            <div class="item_field_label"><span>联系人</span></div>
            <div class="item_field_value" style="">
                <input id="LinkPerson" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </div>
        </div>
        <div class="item_row">
            <div class="item_field_label"><span>联系电话</span></div>
            <div class="item_field_value" style="">
                <input id="LinkPhone" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrPhone" />
            </div>
        </div>
        <div class="item_row">
            <div class="item_field_label"><span>法人</span></div>
            <div class="item_field_value" style="">
                <input id="LegalPerson" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </div>
        </div>
        <div class="item_row">
            <div class="item_field_label"><span>开始时间</span></div>
            <div class="item_field_value" style="">
                <input id="StartTime" type="text" class="form-control input-wdatepicker" onclick="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
            </div>
        </div>
        <div class="item_row">
            <div class="item_field_label"><span>备注</span></div>
            <div class="item_field_value" style="">
                <textarea id="Remark" class="form-control" style="height:200px;"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="map-content h-col">
    <div id="allmap"></div>
</div>

@*<div class="row">
        <div class="col-md-8 col-xs-8 h-col">
            <div style="margin:5px; border-left:0px solid #ccc;">
                <form>
                    <div class="form-group">
                        <label for="Name">名称</label>
                        <input id="Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </div>
                    <div class="form-group">
                        <label for="LinkPerson">联系人</label>
                        <input id="LinkPerson" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </div>
                    <div class="form-group">
                        <label for="LinkPhone">联系电话</label>
                        <input id="LinkPhone" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrPhone" />
                    </div>
                    <div class="form-group">
                        <label for="LegalPerson">法人</label>
                        <input id="LegalPerson" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </div>
                    <div class="form-group">
                        <label for="StartTime">开始时间</label>
                        <input id="StartTime" type="text" class="form-control input-wdatepicker" onclick="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
                    </div>
                    <div class="form-group">
                        <label for="Remark">备注</label>
                        <textarea id="Remark" class="form-control" style="height:60px;"></textarea>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-4 col-xs-4 h-col">

            <div class="map-content h-col" style="width:100%; height:100%;">
                <div id="allmap"></div>
            </div>
        </div>
    </div>*@

<script type="text/javascript" src="~/Content/scripts/app/map.locate.js"></script>
<script type="text/javascript">

    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../ResourceManage/GasStations/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                    $("#StartTime").val(formatDate(data.StartTime, "yyyy-MM-dd"));
                    focusRequestLocation(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        //
        var postData = mergeLoaction($("#form1").GetWebControls(keyValue));

        $.SaveForm({
            url: "../../ResourceManage/GasStations/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }

    $('.map-content').height($(window).height() - 60);
    //resize重设(表格、树形)宽高
    $(window).resize(function (e) {
        window.setTimeout(function () {
            $('.map-content').height($(window).height() - 60);
        }, 200);
        e.stopPropagation();
    });
</script>

